.body {
    position: relative;
    padding: 0 1rem;
    margin: var(--header-height) 0 0 0;
    padding: 0 1rem;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
   
}

:root {
    
    --nav-width: 70px;
    --first-color: #FDFFFF;
    --first-color-light: #065D5D;
    --white-color: #08E1E1;
    --body-font: 'Montserrat', sans-serif;
    --normal-font-size: 1.5rem;
    --z-fixed: 100
}
.body-pd {
    padding-left: calc(var(--nav-width) + 0rem);
    
}
.show {
    left: 0
}
.active::before {
    content: '';
    position: absolute;
    left: 0;
    width: 2px;
    height: 32px;
    background-color: var(--white-color)
}
@media screen and (min-width: 768px) {
    .body {
        margin: calc(var(--header-height) + 1rem) 0 0 0;
        padding-left: calc(var(--nav-width) + 15rem)
    }
    .active::before {
        content: '';
        position: absolute;
        left: 0;
        width: 2px;
        height: 32px;
        background-color: var(--white-color)
    }
    .show {
        width: calc(var(--nav-width) + 200px)
    }

    .body-pd {
        padding-left: calc(var(--nav-width) + 100px)
    }
}
