.tabb {
    font-size: 17px;
    color: black;
    table-layout: fixed
}

.tabb :hover {
    font-size: 17px;
    color: #08E1E1;
}

.inv {
    height: 85vh;
    padding-top: 4rem;
}

.mistable {
    height: 600px;
}