option,
select {
  font-size: 16px;
}

.suplbl {
  font-size: 17px;
}

.dataResult {
  margin-top: 1px;
  width: 350px;
  height: 100px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  z-index: 9;
}

.savepurchased {
  margin-top: -20px;
}

.sply {
  font-size: 15px;
}

.med {
  font-size: 15px;

}


.tblimit{
  max-height: 135px;
  margin-top: -17px;
}

.numnum::-webkit-inner-spin-button, 
.numnum::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
}

.numnum {
  -moz-appearance: textfield;
}          

.medsearch{
  height: 30px;
}
.medlisttitle{
  margin-top: 5px;
}