.sales {
    height: 95vh;
    padding-top: 4rem;
}

.hlimit {
    max-height: 610px;
    overflow-y: scroll;
}

.stabb .nav-link.active {
    color: #08E1E1;
}

.stabb .nav-link {
    color: black;
}

.stabb {
    font-size: 17px;
    color: black;
    table-layout: fixed
}

.stabb :hover {
    font-size: 17px;
    color: #08E1E1;
}
.sort{
    font-size: 15px;
    width: 200px;
}